/* Style the tab */
.tab {
    overflow: hidden;



}

/* Style the buttons that are used to open the tab content */
.tab button {

    float: center;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
font-style: italic;
}

/* Create an active/current tablink class */
.tab button.active
{
font-style: oblique;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid ivory;
    border-top: none;
    -webkit-column-count:3;
}


body{
font-size: 20px;
font-family: arial;
text-align: left;
}

h1{
  text-align: center;
  font-weight: normal;
}
h2{
  text-align: center;
  font-weight: normal;
}
h3{
  text-align: center;
  font-weight: normal;
}

h5{
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}

.emoji{
boarder:2px solid #000;
font-size: 15px;
padding: 5px;
display:inline-block;

}

.pop {
  visibility: hidden;

}

.p-show {
    visibility: visible;
    position: fixed;
    top: 50%;
    font-size: 120px;
    left: 50%;
}
